:root {
  --color-bg: #fff;
  --color-body: #dbdbdb;
  --color-text: #444;
}

.darkstyle {
  --color-bg: #575353;
  --color-body: #292727;
  --color-text: #FFF;
  transition: all ease-in-out 0.7s;
}


body {
  background-color: var(--color-body);
  transition: all ease-in-out 0.7s;
}

.game__container {
  width: 1280px;
  margin: auto;
  position: relative;
}

.container {
  width: 330px;
  height: 330px; 
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 3px 0px 10px 5px rgb(65 132 144 / 10%),
  10px 10px 10px 5px rgb(0 0 0 / 8%);
  margin-top: 10px;
}

.container__normal {
  width: 485px;
  height: 485px;
}

.container__hard {
  width: 650px;
  height: 650px;
}

.container__image_area {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 3px 0px 10px 5px rgb(65 132 144 / 10%),
  10px 10px 10px 5px rgb(0 0 0 / 8%);
}

.container__top_tips {
  height: 160px;
  width: 160px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container__top_tips_normal {
  width: 320px;
  height: 160px;
}

.container__top_tips_hard {
  width: 482px;
  height: 160px;
}

.container__grid_area_cell_top {
  width: 32px;
  height: 160px; 
  color: var(--color-text);
  line-height: 46px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
  word-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.minicell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-text);
  border-radius: 5px;
  background-color: orangered;
}
.container__grid_area_cell_left {
  width: 170px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  color: var(--color-text);
  line-height: 46px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
}

.container__left_tips {
  height: 160px;
  width: 165px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container__grid_area {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  outline: 1px solid orangered;
}

.container__grid_area_disable {
  pointer-events: none;
}

.container__grid_area_normal {
  width: 320px;
  height: 320px;
}

.container__grid_area_hard {
  width: 480px;
  height: 480px;
}

.container__grid_area_cell {
  border: 1px solid var(--color-text);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--color-bg);
}

.container__grid_area_cell_right_click {
  background-image: url(assets/cross.png);
  background-size: contain;
}

.container__grid_area_cell:hover {
  background-color: var(--color-text);
  opacity: 0.8;
}

.container__grid_area_cell_toggler {
  background-color: var(--color-text);
}

.status_container {
  width: 850px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.status_container_disable {
  pointer-events: none;
  opacity: 0.8;
}

.status_container__continue_button,
.status_container__save_button,
.status_container__random_button,
.status_container__solution_button,
.status_container__new_game_button,
.modal__button {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid var(--color-bg);
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: var(--color-text);
	background-color: var(--color-bg);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}

.status_container__continue_button:hover,
.status_container__save_button:hover,
.status_container__random_button:hover,
.status_container__solution_button:hover,
.status_container__new_game_button:hover,
.modal__button:hover {
  transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  transform: translateY(-1px);
}

.night_mode {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 20px;
  left: 50px;
  background-image: url(assets/light-mode.png);
  background-size: contain;
  cursor: pointer;
}

.night_mode:hover {
  transform: translateY(-1px);
  transition: all ease-in-out .2s;
}

.light_mode {
  background-image: url(assets/dark-mode.png);
}

.timer_container {
  width: 150px;
  height: 40px;
  display: flex;
  font-size: 25px;
  color: var(--color-text);
  line-height: 46px;
	font-size: 25px;
	font-weight: 600;
  margin-left: 820px;
}

.timer_container__minutes {
  margin-left: 20px;
}


.modal {
  width: 220px;
  height: 200px;
  box-shadow: 3px 0px 10px 5px rgb(65 132 144 / 10%),
  10px 10px 10px 5px rgb(0 0 0 / 8%);
  padding: 20px;
  position: absolute;
  top: 400px;
  left: 1.5%;
  background-color: var(--color-body);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--color-text);
  line-height: 46px;
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
  opacity: 0;
  transition: 2s;
  z-index: -3;
  text-align: center;
}

.modal__animation {
  opacity: 1;
  transition: 1s;
  z-index: 1;
}

.table {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-text);
  background-color: var(--color-body);
  line-height: 30px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
  border-radius: 5px;
  box-shadow: 3px 0px 10px 5px rgb(65 132 144 / 10%), 10px 10px 10px 5px rgb(0 0 0 / 8%);
  padding-bottom: 10px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.table__rows {
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-around;
}

.select_game__container {
  padding: 20px;
  width: 220px;
  height: 350px;
  overflow-y: scroll;
  border-radius: 10px;
  color: var(--color-text);
  background-color: var(--color-body);
  line-height: 30px;
	font-size: 22px;
	font-weight: 600;
	text-decoration: none;
  box-shadow: 5px 5px 10px 10px rgb(65 132 144 / 10%), 10px 10px 10px 5px rgb(0 0 0 / 8%);
  cursor: pointer;
  position: absolute;
  top: 150px;
  left: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select_game__container_disable {
  pointer-events: none;
  opacity: 0.5;
}

.select_game__container_sub {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 20px;
}

.select_game__container_sub_name {
  width: 230px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  background-color: var(--color-bg);
  
}

.select_game__container_sub_name:hover {
  box-shadow: 2px 0px 10px 10px rgb(65 132 144 / 10%), 1px 10px 5px 1px rgb(0 0 0 / 8%);
}

.game__select {
  display: inline-block;	
	box-sizing: border-box;
	outline: none;
	border: 1px solid var(--color-bg);
	height: 46px;
	font-weight: 600;
	text-decoration: none;
	color: var(--color-text);
	background-color: var(--color-bg);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;  
  width: 80px;
  height: 25px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .game__container {
    width: 768px;
  }
  .select_game__container {
    top: 105%;
    left: 450px;
    height: 160px;
  }

  .table {
    top: 105%;
    left: 60px;
  }
  
  .status_container {
    width: 758px;
  }

  .timer_container {
    margin: auto;
  }

  .night_mode {
    width: 50px;
    height: 50px;
    left: 30px;
    top: 85px;
    z-index: 2;
  }

  .status_container__continue_button,
  .status_container__save_button,
  .status_container__random_button,
  .status_container__solution_button,
  .status_container__new_game_button,
  .modal__button {
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    line-height: 10px;
    margin: 0;
  }
}
